.editor-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #020617;
}

/* HEADER */
.editor-header {
  padding: 10px 16px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
  display: flex;
  justify-content: space-between;
  color: #e5e7eb;
  font-size: 13px;
}

/* TOOLBAR */
.editor-toolbar {
  padding: 8px 16px;
  display: flex;
  gap: 10px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
}

.language-select {
  background: #020617;
  border: 1px solid #1e293b;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
}

.run-btn {
  background: #22c55e;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 600;
}

/* MAIN */
.editor-main {
  flex: 1;
  display: flex;
}

.editor-wrapper {
  flex: 2;
}

.output-wrapper {
  flex: 1;
  border-left: 1px solid #1e293b;
  padding: 10px;
  background: #020617;
}

.output-header {
  font-size: 13px;
  margin-bottom: 6px;
  color: #94a3b8;
}

.input-box {
  width: 100%;
  height: 80px;
  background: #020617;
  border: 1px solid #1e293b;
  color: white;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.output-box {
  background: black;
  color: #22c55e;
  padding: 10px;
  height: 150px;
  overflow-y: auto;
  border-radius: 6px;
}
